:root {
    --corPagina: #318ba3;
}

* {
    font-family: 'montserrat', sans-serif;
}

body {
    margin: 0;
}



.primary-bg-color {
    background-color: white;
}

.secondary-bg-color {
    background-color: var(--corPagina);
}

.light-bg-color {
    background-color: #FCF5EB;
}

.dark-bg-color {
    background-color: #101010;
}

.primary-color {
    color: var(--corPagina);
}

.secundary-color {
    color: white;
}

.light-color {
    color: #FCF5EB;
}

/*NAVBAR*/

#navbar .navbar-nav {
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-top: px;
    padding-bottom: 0px;
}

#navbar .navbar-nav li {
    margin-left: 1em;
}

#navbar a {
    color: black;;
}

#navbar li {
    position: relative;
}

#navbar i {
    font-size: 30px;
}

#navbar ul {
    margin-right: 30px;
}

.navbar-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar-brand img{
    width: 120px;
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        justify-content: left;
        margin-left: 30%;
    }
}

@media screen and (min-width: 500px) {

    .navbar-brand img{
        width: 150px;
    }

}

#navbar-items {
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


    .contatoNavBar {
        position: fixed;
        right: 5px;
        top: 5px;
    }

    .contatoNavBar img {
        width: 30px;
        height: 25px;
    }

    @media screen and (min-width: 768px) {
        .contatoNavBar img {
            width: 40px;
            height: 35px;
        }
    }


.btnParceiro {
    display: none;
    background-color: var(--corPagina);
    border: none;
    transition: 0.3s;
    font-weight: 500;
}

@media screen and (min-width: 992px) {
    .btnParceiro {
       height: 50px;
       display: block;
    }
}

.btnParceiro:hover {
    background-color: #2d7b91;
}

.bi-whatsapp {
    transition: 0.3s;
}

.bi-whatsapp:hover {
    color: #34af23;
}

.bi-instagram {
    transition: 0.3s;
}

.bi-instagram:hover {
    color: #F77737;
}





.segNav {
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
    margin-top: 30px;
}

.segNav button {
    color: white;
    border-color: white;
    background-color: black;
    
}

.segNav button:hover {
    color: white;
    border-color: white;
    background-color: black;
}

/*BOTTOM NAVBAR*/


#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    font-weight: 600;
    color: #fff;
}

.navbar-toggler {
    font-size: 1.5em;
}

.listaNavBx li {
    margin-right: 10px;
}



@media screen and (max-width: 992px) {
    .segNav {
        display: flex;
    }
}

/*Banners*/

#banners-container {
    padding: 0;
}

.carousel-caption {
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
    background-color: rgba(0,0,0,0.5)
}

@media screen and(min-width: 768px) {
    #slider .carousel-item,
    #slider img {
        height: 600px;
    }

    .carousel-caption {
        left: 23%;
        right: 23%;
    }
}

